
<h1><%= @nfl_suspension.name %></h1>

<ul>
  <li><strong>Category</strong>: <%= @nfl_suspension.category %></li>
  <li><strong>Year</strong>: <%= @nfl_suspension.year %></li>
  <li><strong>Source</strong>: <%= @nfl_suspension.source %></li>
</ul>
